.main{
    min-height: 100vh;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.create-card{
    display: none;
    padding: 5px 7px;
    border-radius: 10px;
    background-color: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    position: absolute;
    top:250px;
    left:250px;
}

.create-card.active{
    display: inline-block;
}

/*NAVBAR*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 30px;
    color: white;
    font-size: 25px;
}
.nav-logo {
    cursor: pointer;
}

.selected-letter {
    font-weight: 700;
    color: red;
    font-size: 35px;
}

.nav-log-in {
    cursor: pointer;
    display: none;
}

.nav-log-in.active{
    display: block;
}




/*LOGIN FORM*/



.login-form {
    padding: 10px 30px;
    display: flex;
    margin: 200px 0;
    max-width: 400px;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    border: 1px solid gray;
    box-shadow: 5px 6px 6px 4px;
}

.login-form.login-modal{
    display: none;
}

.login-form.login-modal.active{
    display: flex;
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
}

.login-form.create-card-form{
    display: none;
}

.login-form.create-card-form.active{
    display: flex;
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    
}

.login-title {
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 30px 0 50px 0 ;
}
.form-item {
    margin-bottom: 10px;

}
.login-button {
    margin: 50px 0;
    padding: 10px 35px;
    border: none;
    background-color: black;
    border-radius: 10%;
    color: white;
    font-size: 20px
}
.form-control {
    width: 300px;
    height: 25px;
}
.form-control:focus {
    outline: none;
    box-shadow:0 0 1px;
    transition: 0.7s;
}

/*SEARCHCARDS*/


.searching-block {
    max-width: 900px;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 100px auto;
    background: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.search-block {
    margin: 0 50px
}
.search-input {
    padding: 5px 50px 5px 15px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.select-block {
    padding: 8px 20px;
    border-radius: 10px;
}
.search-button {
    padding: 10px 30px;
    border-radius: 10px;
    background: white;
    color: black;
}

.select-block-search{
    padding: 8px;
    border-radius: 10px;
}

.invisible-prop-container{
    display: none;
}

.invisible-prop-container.active{
    margin-right: 20px;
    padding: 30px 30px 30px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}
/*.hide {*/
/*    display: none;*/
/*    transition: 0.7s;*/
/*}*/
/*.active {*/
/*    display: flex;*/
/*    transition: 0.7s;*/
/*}*/

/*CARDFORM*/

.card-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-card {
    padding: 10px 20px;
    margin: 0 10px;
}
.btn-create {
    background-color: black;
    color: white;
}
.btn-cancel {
    background-color: white;
    color: black;
}

/*CARDLIST*/

.card-list {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
}
.card-block{
    margin-right: 20px;
    padding: 30px 30px 30px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}
.card-title {
    margin-bottom: 20px;
    font-size: 15px;
}
.card-doctor {
    margin-bottom: 20px;
    font-size: 14px;
}
.show-more {
    background: black;
    color: white;
}
